<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/leaderboard.css') }}">
</head>
<body>
    <script src="{{ url_for('static', path='/leaderboard.js') }}"></script>
    <table class="styled-table">
        <tr>
            <th>Rank</th>
            <th>Score</th>
            <th>Username</th>
        </tr>
        <tbody id="leaderboardTable">
        <tr>
            <td>1</td>
            <td>0</td>
            <td>null</td>
        </tr>
        </tbody>
    </table>
    <h4 id="lastModifiedDate">Last modified: null</h4>
</body>
</html>
